<div class="student-details">
  <div class="student-image-box">
    <% if (student.coverImagePath != null) { %>
    <img
      style="object-fit: cover; border-radius: 5px"
      src="<%= student.coverImagePath %>"
      alt=""
    />
    <% } else {  %> 
      <img
      src="/icons/avatar.jpeg"
      alt=""
    />
    <% } %> 
    <input type="file" name="cover" class="filepond">


  </div>
  <div class="student-details-box">
    <div class="input-box">
      <label>Name</label> 
      <input type="text" name="name" value="<%=student.name %>" />
    </div>
    <div class="input-box">
      <label>Date of Birth</label>
      <input type="date" name="birthDate" value="<%= student.birthDate == null ? '' : student.birthDate.toISOString().split('T')[0] %>">
    </div>
    <div class="input-box">
      <label>Telephone Number</label>
      <input type="text" name="telNumber" value="<%= student.telNumber %> ">
    </div>
    <div class="input-box">
      <label>Email</label>
      <input type="text" name="email" value="<%= student.email %>">
    </div>
  </div>
  <div class="student-details-box">
    <div class="input-box">
      <label>Preferred Language</label> <input type="text" name="preferredLanguage" value="<%=student.preferredLanguage %>"></input>
    </div>
    <div class="input-box">
      <label>Country</label> <input type="text" name="country" value="<%=student.country %>"></input>
    </div>
    <div class="input-box">
      <label>Dutch Class</label>
      <select name="dutchClass">
        <option disabled selected value="null"> - select class - </option>
        <% dutchClasses.forEach(dutchClass => { %>
          <% if (dutchClass.id == student.dutchClass) { %>
            <option selected label="<%= dutchClass.name %>" value="<%= dutchClass.id %>"></option>
          <% } else { %>
            <option label="<%= dutchClass.name %>" value="<%= dutchClass.id %>"></option>
          <% } %>
        <% }) %> 
      </select>
    </div>
    <div class="input-box">
      <label>Notes</label>
      <input type="text" name="notes" value="<%= student.notes %>">
    </div>
  </div>
  
</div>



<!-- <div class="attachment-navigation">
  <label>Choose Files to Upload</label>
  <input />
</div> -->





