<div class="students-container">
  <h2>Students</h2>
  <div class="students-navigation">
    <a class="link-button" href="/students/new">Student +</a>
    <form action="/students" class="search" method="GET">
      <input
        type="text"
        name="name"
        value="<%= searchOptions.name %>"
        placeholder="Search by name..."
      />
      <button type="submit">
        <i class="fa fa-search search-black-icon"></i>
      </button>

      <!-- <div>
        <label>Country</label>
        <input
          type="text"
          name="country"
          value="<%= searchOptions.country %>"
        />
      </div> -->
    </form>
  </div>

  <div class="table-container">
    <table id="tableData">
      <thead>
        <tr>
          <th>Name</th>
          <th>Language</th>
          <th>Country</th>
          <th>Dutch Class</th>
          <th>View</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% students.forEach(student => { %>
        <tr>
          <td><%= student.name%></td>
          <td><%= student.preferredLanguage %></td>
          <td><%= student.country %></td>
          <td><%= student.dutchClass.name %></td>
          <td><a href="/students/<%= student.id %>">View</a></td>
          <td><a href="/students/<%= student.id %>/edit">Edit</a></td>
          <td>
            <%- include("../partials/deleteForm.ejs", { url:
            `/students/${student.id}` }) %>
          </td>
        </tr>

        <% }) %>
      </tbody>
    </table>
  </div>
  <a class="link-button" style="width: 100px" id="export-excel-file">
    Export
  </a>
  <!-- <% students.forEach(student => { %>
  <div>
    <%= student.name%> <%= student.dutchClass.name %> <%=
    student.preferredLanguage %> <%= student.country %>
    <div>
      <% if (student.coverImagePath != null) { %>
      <img
        height="200"
        width="150"
        style="object-fit: cover"
        src="<%= student.coverImagePath %>"
        alt=""
      />
      <% } %>
    </div>

    <a href="/students/<%= student.id %>">View</a>

    <a href="/students/<%= student.id %>/edit">Edit</a>

    <%- include("../partials/deleteForm.ejs", { url: `/students/${student.id}`
    }) %>
  </div> -->
  <br />
  <br />
  <!-- <% }) %> -->
</div>
