<div class="dutch-classes-container">
  <div class="presence-date-picker-container">
    <form action="/dutch-classes" method="GET">
      <div class="municipality-container">
        <% municipalityList.forEach((municipality) => { %>
        <div class="municipality-box">
          <input
            class="checkbox-municipality"
            type="checkbox"
            id="<%= municipality%>"
            name="municipality"
            value="<%= municipality%>"
          />
          <label for="<%= municipality%>"><%= municipality%></label><br />
        </div>
        <% }) %>
      </div>
      <div>
        <input
          class="presence-date"
          type="date"
          name="presenceDate"
          value="<%if (today) {%><%= today%><% } %>"
        />
        <button type="submit" class="presence-date-button">Form</button>
      </div>
    </form>
  </div>
  <h2>Present students list</h2>

  <div class="dutch-container">
    <div class="table-container dutch-class-index">
      <table id="presence-list-data" class="listing-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Language</th>
            <th>Municipality</th>
          </tr>
        </thead>
        <tbody>
          <% presentStudentsList.forEach((element) => { %> <%
          element.presenceList.forEach((student) => { %>
          <tr>
            <td><%= student.name%></td>
            <td><%= student.preferredLanguage %></td>
            <td><%= student.municipality %></td>
          </tr>
          <% }) %> <% }) %>
        </tbody>
      </table>
    </div>
    <div class="dutch-class-list-container">
      <a class="link-button" href="/dutch-classes/new">Dutch Class +</a>
      <% dutchClasses.forEach(dutchClass => { %>

      <a href="/dutch-classes/<%= dutchClass.id %>">
        <div class="class-box">
          <h4><%= dutchClass.name %></h4>
        </div></a
      >

      <% }) %>
    </div>
  </div>
</div>

<div class="export-button-container">
  <a
    class="link-button"
    id="export-presence-list"
    style="padding-left: 20px; padding-right: 20px"
  >
    Export
  </a>
  <div></div>
</div>
