<div class="dutch-classes-container">
  <div class="presence-date-picker-container">
    <form action="/dutch-classes" method="GET">
      <div>
        <% municipalityList.forEach((municipality) => { %>
        <div>
          <input
            type="checkbox"
            id="<%= municipality%>"
            name="municipality"
            value="<%= municipality%>"
          />
          <label for="<%= municipality%>"><%= municipality%></label><br />
        </div>
        <% }) %>
      </div>
      <div>
        <input
          class="presence-date"
          type="date"
          name="presenceDate"
          value="<% if (presentStudentsList.length > 0) 
            {%><%= new Date(presentStudentsList[0].createdAt).toISOString().split('T')[0] %><%}%>"
        />
        <button type="submit" class="presence-date-button">Form</button>
      </div>
    </form>
  </div>
  <h2>Dutch Classes</h2>

  <div class="dutch-container">
    <div class="table-container dutch-class-index">
      <table class="listing-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Language</th>
            <th>Country</th>
          </tr>
        </thead>
        <tbody>
          <% presentStudentsList.forEach((element) => { %> <%
          element.presenceList.forEach((student) => { %>
          <tr>
            <td><%= student.name%></td>
            <td><%= student.preferredLanguage %></td>
            <td><%= student.country %></td>
          </tr>
          <% }) %> <% }) %>
        </tbody>
      </table>
    </div>
    <div class="dutch-class-list-container">
      <a class="link-button" href="/dutch-classes/new">Dutch Class +</a>
      <% dutchClasses.forEach(dutchClass => { %>

      <a href="/dutch-classes/<%= dutchClass.id %>">
        <div class="class-box">
          <h4><%= dutchClass.name %></h4>
        </div></a
      >

      <% }) %>
    </div>
  </div>
</div>
